/* h1 main font options*/
.libre-baskerville-regular {
    font-family: "Libre Baskerville", serif;
    font-weight: 400;
    font-style: normal;
    color: white;
    text-align: center;
}

.libre-baskerville-bold {
    font-family: "Libre Baskerville", serif;
    font-weight: 700;
    font-style: normal;
    color: #F5E8C7;
    text-align: center;
}

body {
    background-color: black;
}

h1{
    text-transform: uppercase;
    font-size: 3rem;
}

.meme-image1 {
    width: 100%;
    border: 5px solid #393053;
}
.meme-image2 {
    width: 100%;
    border: 5px solid #3F4E4F;
}

p {
    color: white;
    text-align: center;
}

.centre-adjustment {
    width: 50%;
    margin-left: 25%
}

footer {
    color: #3F4E4F
}

/* Responsive Media Query for Smaller Screens */
@media (max-width: 768px) {
    h1 {
        font-size: 2rem;
    }

    .centre-adjustment {
        width: 90%;
        margin: 0 auto 20px auto;
    }
}

@media (max-width: 480px) {
    h1 {
        font-size: 1.5rem;
    }

    .centre-adjustment {
        width: 100%; /* Full screen width on very small screens */
        margin: 0 auto 15px auto; /* Maintain centering with smaller bottom margin */
    }

    p {
        font-size: 0.9rem; /* Further reduce paragraph text for smaller screens */
    }
}


